.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
button.btn.btn-danger.dropdown-toggle {
  margin-right: 200px;
}
button.btn.btn-outline-success {
  margin-right: 200px;
}
.mb-3 {
  width: 40%;
  margin: 20px auto;
  /* text-align: center; */
}
button.btn.btn-success {
  margin: 0 250px;
}
button.btn.btn-primary.dropdown-toggle {
  margin: 10px 0 0 390px;
}